body {
  margin: 30px auto;
  width: 80%;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}

.page-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.page-nav .increment, .page-nav .decrement {
  cursor: pointer;
  color: #FFF;
  font-size: 14px;
  font-family: sans-serif;
  opacity: .9;
  margin: 5px 0;
  padding: 10px 40px;
  border: none;
  border-radius: 4px;
  transition: background 200ms linear;
}
.page-nav .increment:hover, .page-nav .decrement:hover {
  opacity: 1;
}
.page-nav .increment {
  background: #f0ad4e;
}
.page-nav .decrement {
  background: #2aabd2;
}
.page-nav .decrement:disabled {
  opacity: .3;
}
.page-nav .page {
  padding: 10px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.page-nav .loader {
  padding: 0;
  margin: 0 30px 0 0;
}

.gallery-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  /* or space-around */
}
.gallery-grid .photo {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  text-decoration: none;
  color: black;
}
.gallery-grid .photo:hover .img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
.gallery-grid .figure {
  margin: 0;
  overflow: hidden;
}
.gallery-grid .figcapt {
  margin-top: 15px;
}
.gallery-grid .img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

@media screen and (min-width: 50em) {
  .gallery-grid .photo {
    width: calc(25% - 6px);
  }
}
